body{
    
    margin: 20px 20px;
}
.cover-bg{
    width: auto;
    height: 600px;
    background-color: rgb(12, 5, 77);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin-left: 50px;
    margin-right: 100px;
}

.manu-item{
   display: grid;
   grid-template-columns: repeat(7,1fr);
   gap: 90px;
   margin-top: 20px;
   color: brown;
   
  
}
.name-btn{
    margin-top: 20px;
    
}
ul a{
    text-decoration: none;
}


.btn-manu:hover{
    color: green;
    border-bottom: 1px solid rgb(217, 255, 0);
    transition: 0.2s;
    padding: 1px;
    
}
.img-png{
    width: 300px;
    height: 400px;
}
.about-section{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;

}
.div-img{
    margin-left: 150px;
}
.btn-hover{
    background-color: blue;
}
.btn-hover:hover{
    background-color: blueviolet;

}